/*
.title-slide {
  background-color: #000000;
  url(https://upload.wikimedia.org/wikipedia/commons/b/be/Sharingan_triple.svg)
  
}
*/

body {
 line-height: 1.1em;
}
h1, h2, h3  {
 line-height: 1.1em;
}


.remark-slide-content {
  background-image: url("img/logo-OT-CMJN_carre.png");
  background-position: right 10px top 10px;
	background-size: 5%;
	line-height: 1.1em;
	border-bottom: 0px solid  #522D80;
	box-shadow:  0 55px 0 #fff;
}

.remark-slide-content h1 {
    font-size: 55px;
    padding: 2px; 
    line-height: 0.7em;
}
.remark-slide-content h2 {
    font-size: 45px;
    padding: 2px; 
    line-height: 0.7em;
}
.remark-slide-content h3 {
    font-size: 35px;
    padding: 2px; 
    line-height: 0.7em;
}

.title-slide {
  background-image: url(img/logo_OT.png), url(img/MCTRCT-horizontal+CGET-logotype.png);
  background-color: #000000;
  /* background-image: url(https://sydney.edu.au/etc/designs/corporate-commons/bower_components/corporate-frontend/dist/assets/img/USydLogo.svg); */
  background-position: 10% 90%, 30% 90%;
  background-size: 160px;
}

/* H1 fonts  */
.title-slide h1 {
  color: #ffffff;
  font-weight: normal;
  font-size: 45px;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  margin-bottom: 18px;
}

/* H2 fonts */
.title-slide h2 {
  color: #ffffff !important; /* first of type is master brand red */
  font-size: 35px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-top: 0px;
  text-align: left;
  vertical-align: middle;
}

/* H3 fonts */
.title-slide h3 {
  color: #ffffff ;
  font-size: 28px;
  font-weight: normal;
  padding-left: 20px;
  margin: 0px;
  line-height: 1;
  text-align: left;
  vertical-align: middle;
}
  